<div class="w-full h-full flex justify-center items-center overflow-hidden">
  <div class="absolute left-0">
    <div class="scene">
      <div class="heart"></div>
      <div class="arrow"></div>
    </div>
    <span>LOVE</span>
  </div>
  
  <!-- Ensuring the flex container for search and popup is properly aligned -->
  <div class="flex space-x-4">
    <app-search-input></app-search-input>
    <app-popup></app-popup>
  </div>
</div>

<!-- Progress bar container -->
<div class="progress-container mt-4">
  <!-- The filled progress bar -->
  <div class="progress" :style="{ height: percentage + '%' }"></div>
  <!-- Text indicating the percentage -->
  <div class="progress-text">{{ percentage }}%</div>
</div>
