<div class="w-full h-full flex justify-center items-center overflow-hidden">
  <div class="absolute left-0">
    <div class="scene">
      <div class="heart"></div>
      <div class="arrow"></div>
    </div>
    <span>LOVE</span>
  </div>
  <div class="flex">
    <input type="text" placeholder="Type here" class="input input-bordered input-error w-full max-w-xs rounded-r-none" />
    <app-popup ></app-popup>
  </div>
</div>
<div class="progress-container">
  <!-- La barre de progression remplie -->
  <div class="progress" style="height: {{percentage}}%"></div>
  <!-- Le texte indiquant le pourcentage -->
  <div class="progress-text">{{percentage}}%</div>
</div>

